# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Variable files
*.tfvars
*.tfvars.json

# Plan files
*.tfplan

# Keys
*.pem
*.key
*.ppk

# IDE
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store